################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
/obj
/bin
/pkg
/pkgobj
/packages
/Scripts/App.js
/Scripts/App.js.map
/src/**/*.js
/CoffeeBreak.sln.openAsAdmin
