<div>
    <div>
        <label class="coffeeBreakCompany">
            <span>Hersteller:</span>
            <input type="text" size="40" placeholder="(Name des Herstellers)" />
            <input type="button" value="..." class="coffeeBreakSectorButton" />
        </label>

        <div>
            <label class="coffeeBreakName">
                <span>Marke:</span>
                <input type="text" size="40" placeholder="(Bezeichnung der Sorte)" />
                <input type="button" value="..." class="coffeeBreakSectorButton" />
            </label>
        </div>

        <div>
            <label class="coffeeBreakCoffein">
                <span>Mit Koffein:</span>
                <input type="checkbox" />
            </label>
        </div>
    </div>

    <div class="coffeeBreakActions">
        <a href="javascript:void(0)" class="coffeeBreakSave">Übernehmen</a>
        <a href="javascript:void(0)" class="coffeeBreakCancel">Abbrechen</a>
    </div>
</div>

<div class="coffeeBreakHidden coffeeBreakSelectionDialog">
    [TBD]
</div>