.coffeeBreakApp {
    background: beige;
    color: black;
    padding: 10px;

    label > span:first-child {
        display: inline-block;
        width: 6rem;
    }

    .coffeeBreakActions {
        margin-top: 10px;
    }
}
