.coffeeBreakApp {
    background: beige;
    color: black;
    padding: 10px;

    select {
        background: white;
        color: black;
    }

    label > span:first-child {
        display: inline-block;
        width: 8rem;
    }

    label.coffeeBreakInvalid > span:first-child {
        color: red;
    }

    .coffeeBreakActions {
        margin-top: 10px;
    }

    .coffeeBreakSelectorButton, .coffeeBreakNewTypeButton {
        padding: 4px 6px;
        min-width: 2rem;
    }

    .coffeeBreakHidden {
        display: none;
    }

    table {
        border-collapse: collapse;

        td {
            background-color: white;
            border: 1px solid black;
            padding: 2px 4px;
        }

        > thead > tr > td {
            font-weight: bold;
        }

        > tbody > tr > td:nth-child(2) {
            text-align: center;
        }
    }

    .coffeeBreakDashboardLayout {
        > div:first-child {
            > div {
                float: left;
            }

            > div:nth-child(2) {
                margin-left: 10px;

                > label, > a {
                    display: block;
                }
            }

            > div:last-child {
                float: none;
                clear: both;
            }
        }
    }
}

.coffeeBreakSelectionDialog {
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin: 2px 4px;
        padding: 2px 4px;
        border: 1px solid black;
        list-style: none;
    }

    li:hover {
        background: deepskyblue;
    }
}
